.d-block {
  display: block !important;
}

.d-none {
  display: none;
}

.burger-bg-active {
  background: #e0e1dd;
}

.burger {
  @media (min-width: 800px) {
    display: none;
  }
  position: fixed;
  width: 80%;
  height: 100%;
  transform: translateX(-100%);
  background: #d4d5cf;

  .burger-menu {
    height: 20vh;
    display: flex;

    .burger-menu-submenu {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid #c7c9c2;
      border-width: 0 0 1px 1px;
      border-bottom: none;

      a {
        color: rgb(37, 44, 38);
        cursor: pointer;
        display: inline;
        font-family: Roboto, Roboto, Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        height: auto;
        line-height: 20px;
        text-align: center;
      }
    }
  }

  .burger-menu-drop {
    background: #d4d5cf;
    height: 80vh;

    .burger-menu-drop-sub {
      &:not(:first-child) {
        display: none;
      }

      .burger-menu-drop-sub-ul {
        .burger-menu-drop-sub-ul-li {
          a {
            color: rgb(37, 44, 38);
            cursor: pointer;
            display: inline;
            font-family: "Roboto Condensed", "Helvetica Condensed", "Arial Narrow", Arial, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            height: auto;
            letter-spacing: 1px;
            line-height: 20px;
            list-style-image: none;
            list-style-position: outside;
            list-style-type: none;
            overflow-wrap: break-word;
            text-align: left;
            text-size-adjust: 100%;
            text-transform: uppercase;
          }

          div {
            margin-bottom: 10px;
            h3 {
              color: rgb(37, 44, 38);
              font-family: Roboto, Roboto, Helvetica, Arial, sans-serif;
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              height: auto;
              line-height: 20px;
             a{
               font-weight:400;
               text-transform: lowercase;
             }
            }

            p {
              color: rgb(37, 44, 38);
              display: block;
              font-family: Roboto, Roboto, Helvetica, Arial, sans-serif;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              height: 20px;
              line-height: 20px;
            }
          }
        }

        li {
          &:first-child {
            border: none;
          }

          border-top: 1px solid #c9cac8;
          padding: 2% 1%;
          display: block;
          justify-content: space-between;

          a {
            display: block;
            padding-left: 1%;


            i {
              float: right;
            }

          }

          ul {
            display: none;

            &:hover {
              cursor: pointer;
            }

            li {
              border: none;

              hr {
                border: none;
                border-bottom: 1px solid black;
              }
            }
          }
        }
      }
    }
  }
}

header, main {
  transform: translateX(0%);

}