@import "colors";
@import "custom-classes";

.font-li() {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  line-height: 20px;
  text-align: left;
}

.feature-top-advertise {
  .container {
    .feature-top-advert-notice {
      background: @main-top-bg;

      .mb-20px;
      @media (min-width: 768px) {
        padding: 10px 10vw;
      }

      ul {
        .d-flex;
        justify-content: space-between;

        li {
          .font-li;
          .d-flex;
          padding: 10px;

          div {


            p {
              &:nth-child(2n) {
                font-weight: 400;
              }
            }
          }

          a {
            color: @main-feature-blac-grey-color;
          }
        }

      }
    }

    .feature-top-bottom-ware {
      .mb-20px;
      .d-flex;
      .justify-cont-between;
      @media (max-width: 768px) {
        justify-content: space-around;
      }

      div {
        width: 32%;
        height: 30vw;
        justify-content: center;
        align-items: flex-end;
        .d-flex;

        &:nth-child(1) {
          background: url("../images/ware-left.jpg");
          background-size: cover;
        }

        &:nth-child(2) {
          background: url("../images/ware-blanket-center.jpg");
          background-size: cover;
        }

        &:nth-child(3) {
          background: url("../images/ware-right.jpg");
          background-size: cover;
          @media (max-width: 768px) {
            display: none;
          }

        }

        button {
          cursor: pointer;
          margin-bottom: 35px;
          background-color: rgba(0, 0, 0, 0.5);
          background-origin: padding-box;
          border: 1px solid rgb(224, 225, 221);
          box-shadow: none;
          color: rgb(255, 255, 255);
          font-family: "Roboto Condensed", "Helvetica Condensed", "Arial Narrow", Arial, sans-serif;
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          height: 40px;
          letter-spacing: 1px;
          line-height: 16px;
          padding: 11px 20px;
          text-transform: uppercase;

        }
      }
    }
  }
}
