@import "colors";
@import "custom-classes";

.slider {
  //margin is bigger, usually between sections is 20 px
  margin-bottom: 40px;
  //below (.slick-prev, .slick-next), there are special styles applied to provide slide functionality
  .slick-prev, .slick-next {
    top: 37% !important;
    z-index: 10;

    &:before {
      color: @header-bg-color !important;
    }
  }

  .slick-next {
    right: 0;
  }

  .slick-prev {
    left: 0;
  }

  .container {
    .slider-header {

      h4 {
        line-height: 0;
        border-bottom: 1px solid #c9cac8;
        text-align: center;
        margin-bottom: 40px;
        .font-f-Roboto;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        height: auto;
        text-transform: uppercase;

        span {
          background-color: @white-color;
          padding: 0 20px;
          letter-spacing: normal;
          font-family: 'Roboto Condensed', 'Helvetica Condensed', 'Arial Narrow', Arial, sans-serif;
        }
      }
    }
    .slider-content{
      .your-slider{
        .slider-content-wrapper {
          max-width: 207px;

          &:hover {
            margin: -10px;
            padding: 9px;
            border: 1px solid #fff;
            box-shadow: 0 3px 12px 0 rgba(0, 0, 0, .3);
            position: relative;
            z-index: 2;
            background: #fff;
          }

          .sl-c-w-image {
            img {
              cursor: pointer;
              max-width: 100%;
            }
          }

          .sl-c-details {
            h3 {
              padding: 5px 0;

              a {
                color: rgb(37, 44, 38);
                cursor: pointer;
                display: inline;
                font-family: Roboto, Roboto, Helvetica, Arial, sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                height: auto;
                hyphens: manual;
                line-height: 20px;
                overflow-wrap: break-word;
                text-align: left;
                text-decoration-color: rgb(37, 44, 38);

                &:hover {
                  text-decoration: underline;
                }

              }
            }

            p {
              .span-price {
                display: inline-block;
                .font-f-Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                height: 20px;
                line-height: 20px;
                text-align: left;
              }

              .price-old-underline {
                margin-right: 7px;
                text-decoration-line: line-through;
              }

              .price-now {
                color: #9a1a28;
              }
            }
          }
        }
      }
    }



  }
}