

& when (@media-common = true) {
    .logo {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .navigation > ul {
        display: flex;
        justify-content: center;
    }

    .header {
        background: greenyellow;
    }

    .page-title-wrapper {
        display: none;
    }
}
